:host {
  display: block;
  height: 100vh; 
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar {
  width: 260px;
  height: 100%;
  background-color: #0f121e; /* Cor de fundo escura (Navy escuro) */
  color: #a0aec0; /* Cor do texto cinza claro */
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.3);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* --- Logo --- */
.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
}

.logo-icon {
  background-color: #0d9488; /* Verde Teal */
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.logo-text {
  display: flex;
  flex-direction: column;
}

.brand {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}

.sub-brand {
  font-size: 11px;
  opacity: 0.6;
}

/* --- Menu --- */
.menu-container {
  flex: 1;
  overflow-y: auto;
}

.menu-label {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 10px;
  opacity: 0.5;
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 8px;
}

a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 15px;
  text-decoration: none;
  color: #a0aec0;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-size: 14px;
}

a i {
  font-size: 20px;
}

/* --- Efeito Hover e Ativo --- */
a:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
}


a.active {
  background-color: rgba(13, 148, 136, 0.15); /* Fundo verde transparente */
  color: #14b8a6; /* Texto verde claro */
  border-right: 3px solid #14b8a6;
}

/* --- Rodape --- */
.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  border-top: 1px solid rgba(255,255,255,0.1);
}

.avatar {
  width: 35px;
  height: 35px;
  background-color: #334155;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.name {
  color: white;
  font-size: 13px;
  font-weight: 600;
}

.role {
  font-size: 11px;
  opacity: 0.7;
}